In [7]:
import os
import json
import pandas as pd
import collections

In [8]:
data_path = "/work/pi_dhruveshpate_umass_edu/project_19/Data/synthetic_data_Apr25"
file = "news_training.csv"

data = pd.read_csv(os.path.join(data_path, file))
data = data[data.id.notnull()].reindex()
data.reset_index(inplace=True, drop=True)

print(data.shape)
data.head()

(924, 5)

,id,article,entity types,relationships,synthetic article
0,62b1e91ce87f1fc6c056ce9172f5f7c66efba907,By . Lydia Warren . Jerry Sandusky's adopted s...,"[['Jerry Sandusky', 'Person'], ['Matthew Sandu...","[['Matthew Sandusky', 'gave an interview to', ...",In a revealing and emotional interview with Op...
1,ff693482cdd3dfb9e7064f487516b58f20c060ca,"By . Jaymi Mccann . PUBLISHED: . 15:44 EST, 14...","[['Jaymi McCann', 'Person'], ['swimmer', 'Pers...","[['emergency services', 'conduct search and re...","In the scenic Brecon Beacons of Mid Wales, a s..."
2,e9900c3b37b1ca3c0a62d203670f7e0e5ac5da89,By . Michael Zennie . A sightseer who tried to...,"[['Michael Zennie', 'Person'], ['sightseer', '...","[['Grand Prismatic Spring', 'contains', 'bacte...",In the heart of Wyoming lies the Yellowstone N...
3,fe9d8a82cb4122fdd905012becc7418e2d2ff740,Facebook has started collecting information ab...,"[['Facebook', 'Organization'], ['users', 'Conc...","[['Facebook', 'collects information from', 'us...",In a bold move that has stirred up the digital...
4,aceee806bdda590589d85f67401e6a6a2fc46b2f,"By . Deborah Arthurs . PUBLISHED: . 08:32 EST,...","[['Duchess of Cambridge', 'Person'], ['Hobbs',...","[['Duchess of Cambridge', 'wore clothing from'...",In a remarkable display of support for the Bri...

In [13]:
data["processed_entities"] = ""
data["processed_relations"] = ""

all_ent_types = set()

for i in data.index:
    ent_list = []
    tmp = eval(data["entity types"][i])
    for item in tmp:
        ent_list.append(item[0])
        all_ent_types.add(item[1])
    data["processed_entities"][i] = "; ".join(ent_list)
    
    rel_list = []
    tmp = eval(data["relationships"][i])
    for item in tmp:
        rel_list.append(" | ".join(item))
    data["processed_relations"][i] = "\n".join(rel_list)
    
    # print(type(tmp), rel_list, "\n".join(rel_list))
    # break

In [10]:
data.head()

,id,article,entity types,relationships,synthetic article,processed_entities,processed_relations
0,62b1e91ce87f1fc6c056ce9172f5f7c66efba907,By . Lydia Warren . Jerry Sandusky's adopted s...,"[['Jerry Sandusky', 'Person'], ['Matthew Sandu...","[['Matthew Sandusky', 'gave an interview to', ...",In a revealing and emotional interview with Op...,Jerry Sandusky; Matthew Sandusky; Oprah Winfre...,Matthew Sandusky | gave an interview to | Opra...
1,ff693482cdd3dfb9e7064f487516b58f20c060ca,"By . Jaymi Mccann . PUBLISHED: . 15:44 EST, 14...","[['Jaymi McCann', 'Person'], ['swimmer', 'Pers...","[['emergency services', 'conduct search and re...","In the scenic Brecon Beacons of Mid Wales, a s...",Jaymi McCann; swimmer; emergency services; pol...,emergency services | conduct search and rescue...
2,e9900c3b37b1ca3c0a62d203670f7e0e5ac5da89,By . Michael Zennie . A sightseer who tried to...,"[['Michael Zennie', 'Person'], ['sightseer', '...","[['Grand Prismatic Spring', 'contains', 'bacte...",In the heart of Wyoming lies the Yellowstone N...,Michael Zennie; sightseer; Yellowstone; Grand ...,Grand Prismatic Spring | contains | bacteria\n...
3,fe9d8a82cb4122fdd905012becc7418e2d2ff740,Facebook has started collecting information ab...,"[['Facebook', 'Organization'], ['users', 'Conc...","[['Facebook', 'collects information from', 'us...",In a bold move that has stirred up the digital...,Facebook; users; social media site; privacy po...,Facebook | collects information from | users\n...
4,aceee806bdda590589d85f67401e6a6a2fc46b2f,"By . Deborah Arthurs . PUBLISHED: . 08:32 EST,...","[['Duchess of Cambridge', 'Person'], ['Hobbs',...","[['Duchess of Cambridge', 'wore clothing from'...",In a remarkable display of support for the Bri...,Duchess of Cambridge; Hobbs; Celeste coat; Liv...,Duchess of Cambridge | wore clothing from | Ho...

In [11]:
data.to_csv("news_training_processed.csv")

In [14]:
len(all_ent_types)

297

In [15]:
all_ent_types

{'Activity',
 'Address',
 'Adjective',
 'Administrative Bodies',
 'Administrative Division',
 'Age',
 'Age Group',
 'Aircraft',
 'Aircraft Model',
 'Alias',
 'Anatomical Structure',
 'Animal',
 'Animal Breed',
 'Animal Group',
 'Animal Species',
 'Artifact',
 'Artistic Work',
 'Artwork',
 'Assessment Tool',
 'Award',
 'Award Category',
 'Bacteria',
 'Band',
 'Biological Entity',
 'Biological Process',
 'Biological Substance',
 'Biological System',
 'Body Part',
 'Book',
 'Brand',
 'Breed',
 'Broadcast Program',
 'Categories of Funding',
 'Category',
 'Cause of Death',
 'Cell Type',
 'Certification',
 'Characteristic',
 'Chemical',
 'Chemical Compound',
 'Chemical Element',
 'City',
 'Clothing',
 'Color',
 'Commodity',
 'Company',
 'Concept',
 'Condition',
 'Consumer Group',
 'Continent',
 'Country',
 'Creative Work',
 'CreativeWork',
 'Crime',
 'Cuisine',
 'Culture',
 'Currency',
 'Date',
 'DateTime',
 'Day',
 'DayOfWeek',
 'Deity',
 'Demographic',
 'Demographic Group',
 'Description',
 'Diet',
 'Digital Asset',
 'Dinosaur Category',
 'Dinosaur Species',
 'Disease',
 'Dish',
 'Distance',
 'Document',
 'Drink',
 'Economic Concept',
 'Economic Indicator',
 'Educational Degree',
 'Educational Institution',
 'Educational Program',
 'Emergency Service Number',
 'Emotion',
 'Ethnic Group',
 'Ethnicity',
 'Event',
 'Evidence',
 'Facility',
 'Family',
 'Family Relation',
 'Family Role',
 'Fictional Character',
 'Fictional Characters',
 'Fictional Location',
 'Field',
 'Field of Study',
 'Film',
 'Financial',
 'Financial Concept',
 'Financial Entity',
 'Financial Instrument',
 'Food',
 'Format',
 'Frequency',
 'Game',
 'Geographical Feature',
 'Goods',
 'Goods/Services',
 'Government Body',
 'Government Position',
 'Group',
 'Group of Countries',
 'Group of People',
 'Habitat',
 'Hashtag',
 'Historical Event',
 'Holiday',
 'Hormone',
 'Hospital',
 'Identifier',
 'Industry',
 'Infrastructure',
 'Initiative',
 'Institution',
 'Instrument',
 'Job Title',
 'Judicial Body',
 'Landmark',
 'Language',
 'Law',
 'Legal Case',
 'Legal Charge',
 'Legal Code',
 'Legal Concept',
 'Legal Document',
 'Legal Document Section',
 'Legal Entity',
 'Legal Institution',
 'Legal Process',
 'Legal Sentence',
 'Legal Status',
 'Legislation',
 'Length',
 'License Plate',
 'Literary Work',
 'Literature',
 'Location',
 'Location Feature',
 'Location Group',
 'Material',
 'Materials',
 'Measurement',
 'Media',
 'Media Outlet',
 'Medical Concept',
 'Medical Condition',
 'Medical Procedure',
 'Medical Service',
 'Medical Test',
 'Medical Treatment',
 'Medication',
 'Medium',
 'Military',
 'Military Alliance',
 'Military Equipment',
 'Military Force',
 'Military Operation',
 'Military Unit',
 'Monetary Value',
 'Money',
 'Movement',
 'Movie',
 'Music Genre',
 'Musical Group',
 'Nationality',
 'News Website',
 'Newspaper',
 'Nickname',
 'Number',
 'Numerical Position',
 'Numerical Statistic',
 'Numerical Value',
 'Object',
 'Occupation',
 'Operating System',
 'Operation',
 'Organism',
 'Organization',
 'Organization Category',
 'Organization Type',
 'Organizations',
 'Other',
 'People',
 'Perpetrator',
 'Person',
 'Person Group',
 'Person Type',
 'Person or Group',
 'PersonGroup',
 'Persona',
 'Personal Status',
 'Persons',
 'Pet Name',
 'Phone Number',
 'PhoneNumber',
 'Photograph',
 'Plant',
 'Platform',
 'Police Operation',
 'Policy',
 'Political Affiliation',
 'Political Entities',
 'Political Entity',
 'Political Group',
 'Political Party',
 'Political Title',
 'Population Group',
 'Position',
 'Procedure',
 'Process',
 'Product',
 'Product Batch',
 'Product Category',
 'Product Feature',
 'Profession',
 'Program',
 'Project',
 'Publication',
 'Published Work',
 'Qualification',
 'Rank',
 'Region',
 'Religion',
 'Religious Group',
 'Report',
 'Research Method',
 'Role',
 'Score',
 'Sector',
 'Sentence',
 'Service',
 'Service Feature',
 'Social Category',
 'Social Group',
 'Social Media Account',
 'Software',
 'Song',
 'Spacecraft',
 'Species',
 'Speed',
 'Sport',
 'Sporting Event',
 'Sports Division',
 'Sports Event',
 'Sports Event Category',
 'Sports League',
 'Sports Record',
 'Sports Team',
 'State',
 'Statistic',
 'Stegosaurus',
 'Structure',
 'Subject',
 'Substance',
 'Surface',
 'System',
 'TV Show',
 'Tax',
 'Team',
 'Technology',
 'Television Channel',
 'Television Program',
 'Television Show',
 'Television Show Segment',
 'Time',
 'Time Duration',
 'Time Period',
 'TimePeriod',
 'Timeframe',
 'Timezone',
 'Title',
 'Town',
 'Treatment',
 'Treaty',
 'URL',
 'Unit',
 'Unit of Measure',
 'Username',
 'Vehicle',
 'Venue',
 'Vessel',
 'Video Game',
 'Virus',
 'Weapon',
 'Weather Condition',
 'Website',
 'Weight',
 'Work of Art',
 'Year'}

In [5]:
data_tmp = {}

for i in data.index:
    data_tmp[i] = data["synthetic article"][i]
    
    # print(type(tmp), tmp)
    # break
    
# Convert to JSON format
# json_data = json.dumps({"Documents": data_tmp}, indent=4)

len(data_tmp)

924

In [21]:
# data_tmp.keys()

In [7]:
# type(json_data)

NameError: name 'json_data' is not defined

## Chunk dataset

In [ ]:
# !pip install --upgrade langchain[llm]

In [ ]:
# !pip install --upgrade langchain
# !pip install -qU langchain-text-splitters
# !pip install nltk

In [10]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /home/amalgonde_umass_edu/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [8]:
from langchain_community.document_loaders import JSONLoader
from pprint import pprint
# data = json_data
# pprint(data)

In [12]:
import json
import nltk
from nltk.tokenize import word_tokenize
from langchain.text_splitter import NLTKTextSplitter

json_data = {"Documents": data_tmp}

chunk_size = 1000
overlap_ratio = 0.1
chunk_overlap = int(overlap_ratio * chunk_size)

def split_into_chunks(text):
    text_splitter = NLTKTextSplitter(chunk_size=chunk_size, chunk_overlap=chunk_overlap, length_function=len)
    chunks = text_splitter.split_text(text)
    result = []
    for idx, chunk in enumerate(chunks):
        chunk_tokens = len(word_tokenize(chunk))
        result.append({
            "chunk_index": idx,
            "chunk_text": chunk,
            "chunk_tokens": chunk_tokens
        })
    return result

def chunk_text_data(data):
    chunked_data = {}

    # Chunk documents
    for doc_index, text in data.get("Documents", {}).items():
        # print(text)
        chunked_data[doc_index] = split_into_chunks(text)
        # break

    return chunked_data

chunked_json_data = chunk_text_data(json_data)

chunked_json_str = json.dumps(chunked_json_data, indent=4)
# print(chunked_json_str)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [13]:
type(chunked_json_data)

dict

In [18]:
# chunked_json_data[0]

In [19]:
with open('SD_Apr25_chunked_data.json', 'w') as json_file:
    json_file.write(chunked_json_str)
print("Writing to JSON file is complete.")

Writing to JSON file is complete.

In [20]:
!pwd

/work/pi_dhruveshpate_umass_edu/project_19/aishwarya/696DS-named-entity-extraction-and-linking-for-KG-construction/datasets/synthetic_data_Apr25