source - https://www.kaggle.com/datasets/gowrishankarp/newspaper-text-summarization-cnn-dailymail/data

In [1]:
import os
import pandas as pd
import collections

In [5]:
data_path = "/work/pi_dhruveshpate_umass_edu/project_19/Data/cnn_dailymail"
file = "validation.csv"

data = pd.read_csv(os.path.join(data_path, file))
print(data.shape)
data.head()

(13368, 3)

,id,article,highlights
0,61df4979ac5fcc2b71be46ed6fe5a46ce7f071c3,"Sally Forrest, an actress-dancer who graced th...","Sally Forrest, an actress-dancer who graced th..."
1,21c0bd69b7e7df285c3d1b1cf56d4da925980a68,A middle-school teacher in China has inked hun...,Works include pictures of Presidential Palace ...
2,56f340189cd128194b2e7cb8c26bb900e3a848b4,A man convicted of killing the father and sist...,"Iftekhar Murtaza, 29, was convicted a year ago..."
3,00a665151b89a53e5a08a389df8334f4106494c2,Avid rugby fan Prince Harry could barely watch...,Prince Harry in attendance for England's crunc...
4,9f6fbd3c497c4d28879bebebea220884f03eb41a,A Triple M Radio producer has been inundated w...,Nick Slater's colleagues uploaded a picture to...

In [13]:
max_tokens = 0
for idx in data.index:
    tmp = data["article"][idx].split(" ")
    max_tokens = max(max_tokens, len(tmp))
    # print(idx, tmp)
    # break
    
max_tokens

1917